<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <!-- %= stylesheet_link_tag :all % -->
  <%= stylesheet_link_tag 'blueprint/screen', :media =>    	'screen' %>
  <%= stylesheet_link_tag 'scaffold', :media => 'screen' %>

  <%= stylesheet_link_tag 'blueprint/print', :media => 'print'    %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<!-- body style="background: #EEEEEE;" -->
<div class="container">
      <header>
        <%= image_tag("rails.png", :alt => "Sample App", :class => "round") %>
        <nav class="round">
            <%= link_to "Home", '#' %>
            <%= link_to "Help", '#' %>
            <% if signed_in? %>
		    <%= link_to "Profile", current_user %>
		    <%= link_to "Settings", edit_user_path(current_user) %>
               <%= link_to "Sign out", signout_path, :method     		      => :delete %>
      	 <% else %>
      	    <%= link_to "Sign in", signin_path %>
      	 <% end %>
        </nav>
      </header>
	   <br /> <br />
	   <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </section>
        <%= yield %>
      </section>
    </div></body>
</html>
